PORT=8000
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=
DEEPGRAM_API_KEY=
